In [3]:
import pandas as pd
import numpy as np
#ID','A1_Score','A2_Score','A3_Score','A4_Score','A5_Score','A6_Score','A7_Score','A8_Score','A9_Score','A10_Score','age','gender','ethnicity','jaundice','austim','contry_of_res','used_app_before','result','age_desc','relation','Class/ASD'

In [4]:
d1 = pd.read_csv("./train0.csv")
d2 = pd.read_csv("./Autism-Adult-Data.csv")

#test = pd.read_csv("./test.csv")

In [5]:

d1 = d1.drop(d1.columns[[0]],axis=1)
d1.shape

(800, 21)

In [6]:
d1.columns

Index(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
       'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age', 'gender',
       'ethnicity', 'jaundice', 'austim', 'contry_of_res', 'used_app_before',
       'result', 'age_desc', 'relation', 'Class'],
      dtype='object')

In [7]:
d2.shape

(704, 21)

In [8]:
d2.columns

Index(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
       'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age', 'gender',
       'ethnicity', 'jaundice', 'austim', 'contry_of_res', 'used_app_before',
       'result', 'age_desc', 'relation', 'Class'],
      dtype='object')

In [9]:
data = pd.concat([d1,d2])

In [10]:
data.shape

(1504, 21)

In [11]:
data = data.drop_duplicates()

In [12]:
data.shape

(1499, 21)

In [13]:
data["Class"] = np.where(data["Class"] == "NO", 0, 1)
n_records = len(data.index)
n_asd_yes = len(data[data['Class'] == 1])
n_asd_no = len(data[data['Class'] == 0])
yes_percent = float(n_asd_yes) / n_records *100
print("Description about dataset \n ")
print("Total number of records: {}".format(n_records))
print("Individuals diagonised with ASD: {}".format(n_asd_yes))
print("Individuals not diagonised with ASD: {}".format(n_asd_no))
print("Percentage of individuals diagonised with ASD: {:.2f}%".format(yes_percent))

Description about dataset

Total number of records: 1499
Individuals diagonised with ASD: 987
Individuals not diagonised with ASD: 512
Percentage of individuals diagonised with ASD: 65.84%

In [14]:
data.columns

Index(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
       'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age', 'gender',
       'ethnicity', 'jaundice', 'austim', 'contry_of_res', 'used_app_before',
       'result', 'age_desc', 'relation', 'Class'],
      dtype='object')

In [15]:
data.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jaundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class
0,1,0,1,0,1,0,1,0,1,1,...,f,?,no,no,Austria,no,6.351166,18 and more,Self,1
1,0,0,0,0,0,0,0,0,0,0,...,m,?,no,no,India,no,2.255185,18 and more,Self,1
2,1,1,1,1,1,1,1,1,1,1,...,m,White-European,no,yes,United States,no,14.851484,18 and more,Self,1
3,0,0,0,0,0,0,0,0,0,0,...,f,?,no,no,United States,no,2.276617,18 and more,Self,1
4,0,0,0,0,0,0,0,0,0,0,...,m,?,no,no,South Africa,no,-4.777286,18 and more,Self,1

In [16]:
data.to_csv("adult_data.csv",index=False)